@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rancho&display=swap');

$light: #eef9ff;
$dark:       #0c0c04;
$primary:  #3339FF;
$secondary:    #FF5733;
$info:       #23abb9;
$success:    #04c066;
$warning:    #efd103;
$danger:     #ff1521;

body {
  font-family: "Montserrat", sans-serif;
}

@import "node_modules/bootstrap/scss/bootstrap";